html {
    background-color: rgb(0, 0, 0, 0.95);
    background-image: url(./images/kegs.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


/* Body */
body {
    font-family: lato;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}

/* Headers */
h1 {
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0em;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

/* Links */
a {
}

a:visited {
}

a:hover {
}

/* Navigtion */


/* Body Flex */
.flex-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Index */
.octo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/octopus.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
}

.octo-text {
    order: 0;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 0.5em;
}


/* About */
.about {
}


/* Story */
.story {
}


/* Artist in Residence */
.prog {
    order: 1;
}

.current-air {
    order: 2;
}

.past-air {
    order: 2;
}


/* Contact Us */
.form {
    order: 1;
    align-self: center;
    margin-bottom: 1em;
}

.google-map {
    order: 2;
    align-self: flex-start;
    margin-bottom: 1em;
}

.address-hours {
    order: 2;
    align-self: stretch;
    margin-bottom: 1em;
}


/* Footer */
footer {
    text-align: center;
    font-size: 0.75em;
}