/* Body */
body {
    font-family: lato;
    font-size: 1em;
    margin: 0em;
}

/* Headers */
h1 {
}

h2 {
}

h3 {
}

/* Links */
a {
}

a:visited {
}

a:hover {
}

/* About */
.about {
}

/* Story */
.story {
}

/* Artist in Residence */
.air {
}

/* Contact Us */
.form {
}

.google-map {
}

.address-hours {
}
