/* Body */
body {
    font-family: Lato;
    margin-left: auto;
    margin-right: auto;
}


/* Headers */
h1 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: #302f2d;
    margin-bottom: 0em;
    padding: 0.35em;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #302f2d;
    padding: 0.25em;
}

h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #7a7a7a;
    padding: 0.15em;
}

.header-highlight {
    background-color:yellow;
}

.yellow-text {
    font-size: 2.25em;
    font-weight: bold;
    text-align: left;
    color: yellow;
    margin-bottom: 0em;
    padding: 0em;
}

.grey-text {
    color: rgb(189, 189, 189);
    margin-top: 0em;
}

.white-text {
    color: white;
    margin-top: 0em;
    padding: 0em;
}


/* Navigation */
nav {
    display: inline-block;
    width: 100%;  
    text-align: center;
    background-color: rgb(61, 65, 64); 
}

ul {
    padding: 0em;
}

li {
    display: inline;
    font-weight: bold;
    padding-left: 0.6em;
    padding-right: 0.6em;
}


/* Header Banners */
header {
    background-image: url(./album.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-img {
    justify-self: right;
    max-width: 50%;
    min-width: 25%;
    padding: 2em;
}

.banner {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 84%;
    background-color: rgba(32, 32, 32, 0.9);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.header-box {
    margin-left: 2em;
    margin-top: 2em;
}


/* Links */ 
.highlight-link {
    font-style: italic;
    color: #302f2d;
    background-color: yellow;
    padding: 0.15em;
}

a {
    color: white;
    text-decoration: none;
}


/* Body Grid */
.body-grid {
    display: grid;
    grid-template-columns: 60% 35%;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
}

.box2 {
    grid-column: 2;
    grid-row: 2;
    background-color: #302f2d;
    padding: 2em;
}

.box3 {
    grid-column: 2;
    grid-row: 1;
    background-color: yellow;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.5em; 
}


/* Aside */
.aside-p {
    color: white;
    letter-spacing: 0.1em;
    padding-bottom: 2em;
}  

.video {
    text-align: center;
    border-top: 2px solid white;
    padding-top: 1em;
}

iframe {
    max-width: 100%;
}

.aside-cite {
    color: yellow;
}


/* Lyrics */
.lyrics {
    border-left: 2px solid yellow;
    margin-bottom: 3em;
}

.chorus {
    margin-left: 2.5em;
}

.lyrics-highlight {
    display: inline-block;
    background-color: yellow;
}

.lyrics-header {
    padding: 0.15em 0.5em 0.15em 0.5em;
    margin: 0.25em;
}

.lyrics-body {
    letter-spacing: 0.1em;
    padding-left: 2em;
}


/* Footer */
footer {
    font-size: 0.75em;
    border-top: 3px solid yellow;
    padding-top: 1em;
}

.footer-width {
    width: 71%;
    margin-left: auto;
    margin-right: auto;
}