
/* Headers */
h1 {
    font-family: Helvetica;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: blueviolet;
    
}

h2 {
    font-family: Helvetica;
    font-size: 1.5em;
    text-align: left;
    color:indigo;
    background-color:white;
    text-transform: uppercase;
    padding-bottom: 0px;
}

h3 {
    font-family: Helvetica;
    font-size: 1em;
    text-align: center;
    color:indigo;
    background-color:white;   
}

/* Body */
body {
    font-family: Arial;
    text-align: justify;
}

/* HR */
hr {
    height: 2px;
    background-color: blueviolet;
    border: none;
}


/* Links */
a {
    color: magenta;
    background-color:none;
}

a:hover {
    text-transform: uppercase;
}


/* Bullets */
li {
    list-style-type: circle;
}


/* Center that Image */
.bun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    width: 35%;
}